@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  color: rgb(179, 131, 226);

  font-size: 10rem;
  text-align: center;
  opacity: 0.4;
  margin-bottom: 1rem;
}

form {
  width: 400px;
  max-width: 100%;
  margin: auto;
}

#input-field {
  font-size: 2rem;
  border: 4px solid rgb(179, 131, 226);

  padding: 1rem 2rem;
  display: block;
  margin: auto;
  box-shadow: rgba(122, 122, 216, 0.25) 0px 50px 100px -20px;
}

#input-field::placeholder {
  color: rgb(79, 85, 85);
}

#todos {
  box-shadow:
    rgba(141, 141, 235, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 456px;
  padding: 0rem;
  margin: 0;
  list-style-type: disc;
}

#todos li {
  padding: 10px 15px;
  cursor: pointer;

  display: block;
  max-width: 100%;
  margin: auto;
  border-top: 0.5px solid #b2b0b0;
}
#todos li:hover {
  background-color: rgb(210, 189, 241);
}

#todos li.completed {
  text-decoration: line-through;
  color: #b5b5b5;
}

small {
  margin-top: 1rem;
}
